@tailwind base;
@tailwind components;
@tailwind utilities;

.background-mountains {
  background-image: url('/src/bg.jpg');
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.2); /* fallback */
}